<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Clear_Balance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <Clear_Balance.Properties.Settings>
      <setting name="v1" serializeAs="String">
        <value />
      </setting>
      <setting name="v2" serializeAs="String">
        <value />
      </setting>
      <setting name="v3" serializeAs="String">
        <value />
      </setting>
      <setting name="v4" serializeAs="String">
        <value />
      </setting>
      <setting name="v5" serializeAs="String">
        <value />
      </setting>
      <setting name="v6" serializeAs="String">
        <value />
      </setting>
      <setting name="v7" serializeAs="String">
        <value />
      </setting>
      <setting name="v8" serializeAs="String">
        <value />
      </setting>
      <setting name="v9" serializeAs="String">
        <value />
      </setting>
      <setting name="v10" serializeAs="String">
        <value />
      </setting>
      <setting name="v11" serializeAs="String">
        <value />
      </setting>
      <setting name="v12" serializeAs="String">
        <value />
      </setting>
      <setting name="v13" serializeAs="String">
        <value />
      </setting>
      <setting name="v14" serializeAs="String">
        <value />
      </setting>
    </Clear_Balance.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>